body {
    background-color: black;
    color: white;
}
.hp{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(42, 162, 167);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.data{
    width: 40%;
    margin: 0px auto;
}
.data input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
    padding: 5px;
    margin-bottom: 5px;
}
.data select{
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
}
.data button{
    padding: 10px;
    font-size: 25px;
    background-color:  rgb(42, 162, 167) ;
    font-weight: bold;
    color: white;
    width: 100%;
    border-radius: 8px;
    transition: 1s;
}
.data button:hover{
    background-color:rgb(75, 121, 122) ;
}
.head{
    width: 50%;
    margin: 50px auto;
    text-align: center;
    background-color: #ececec;
    color: black;
    padding: 20px;
    border: 2px dotted orangered;
    border-radius: 8px;
}
.head h1{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:767px){
    .hp{
        font-size: 22px;
    }
    .data , .head{
        width: 90%;
    }
    .head h1{
        font-size: 20px;
    }
}